<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/miestilo.css')}}" />
</head>
<body>
    <nav>
        <a href="/inicio" class="nav-enlace" >Inicio</a>
        <a href="#" class="nav-enlace" >Contáctenos</a>
        <a href="#" class="nav-enlace" >Ayuda</a>
        <a href="#" class="nav-enlace" >Mis compras</a>
        <a href="#" class="nav-enlace" >Mi perfil</a>
        <a href="#" class="nav-enlace" >Notificaciones</a>
    </nav>
    <h1 class="productos">Productos</h1>
    <div class="buscar">
        <input type="text" placeholder="Buscar" required>
    </div>
    <nav class="nav2">
        <a href="#" class="nav-enlace2" >Categorias</a>
        <a href="#" class="nav-enlace2" >Historial de busqueda</a>
        <a href="lista/deseos" class="nav-enlace2" >Lista de deseos</a>
        <a href="#" class="nav-enlace2" >Carrito de compras</a>
    </nav>
    <h3>¿Qué deseas hacer? Por favor elije una opción del menú.</h3>
    <section class="container">
        <div class="columna">
            <h3 class="titulos">Productos destacados</h3>
        </div>
        <div class="columna">
            <h3 class="titulos">Colecciones</h3>
        </div>
        <div class="columna">
            <h3 class="titulos">Productos en oferta</h3>
        </div>
    </section>
    <img class="image1" src="{{url_for('static', filename='Imagenes/Producto destacado.jpg')}}" alt="">
    <img class="image2" src="{{url_for('static', filename='Imagenes/Colecciones.jpg')}}" alt="">
    <img class="image3" src="{{url_for('static', filename='Imagenes/Oferta.png')}}" alt="">
    <hr>
    <h4>Comparar productos</h4>
    <div class="buscarproducto">
        <input type="text" placeholder="Producto 1" required>
        <input type="text" placeholder="Producto 2" required>
    </div>
</body>
</html>