<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/miestilo.css')}}" />
</head>
<body>
    <nav>
        <a href="/inicio" class="nav-enlace" >Inicio</a>
        <a href="#" class="nav-enlace" >Ayuda</a>
        <a href="/administrar" class="nav-enlace" >Administrar</a>
        <a href="#" class="nav-enlace" >Mi perfil</a>
        <a href="#" class="nav-enlace" >Notificaciones</a>
    </nav>
    <h1 class="productos">Productos</h1>
    <div class="buscar">
        <input type="text" placeholder="Buscar" required>
    </div>
    <nav class="nav2">
        <a href="/producto/añadir" class="nav-enlace2" >Añadir producto</a>
        <a href="/producto/eliminar" class="nav-enlace2" >Eliminar producto</a>
        <a href="/producto/editar" class="nav-enlace2" >Editar producto</a>
        <a href="/comentarios" class="nav-enlace2" >Comentarios</a>
    </nav>
    <h3>¿Qué deseas hacer? Por favor elije una opción del menú.</h3>
    <h2>Añadir producto</h2>
    <h2>Por favor ingrese la información del producto</h2>
    
    <section class="caracteristicas">
        <img class="imagecentral" src="{{url_for('static', filename='Imagenes/Portatil.jpeg')}}" alt="" style= "margin-left: 30%;">
        <p>Altura:</p>
        <p>
            <input type="text" id="Heigth" name="Heigth">
        </p>
        <p>Anchura:</p>
        <p>
            <input type="text" id="Width" name="Width">
        </p>
        <p>Profundidad:</p>
        <p>
            <input type="text" id="Deep" name="Deep">
        </p>
    </section>
    <section class="caracteristicas2">
        <p>Color</p>
        <p>
            <input type="text" id="Colour" name="Colour">
        </p>
        <p>Precio</p>
        <p>
            <input type="text" id="Price" name="Price">
        </p>
        <p>Cantidad</p>
        <p>
            <input type="text" id="Amount" name="Amount">
        </p>
    </section>
    <button class="boton">Añadir y confirmar</button>
    <div class="buscarproducto2">
        <input type="text" placeholder="Busque su producto" required>
    </div>
    <img class="image4" src="{{url_for('static', filename='Imagenes/Camisa.jpg')}}" alt="">
    <img class="image5" src="{{url_for('static', filename='Imagenes/Cocina integral.jpg')}}" alt="">
    <img class="image6" src="{{url_for('static', filename='Imagenes/Series X.jpg')}}" alt="">
    <img class="image7" src="{{url_for('static', filename='Imagenes/Taladro.jpg')}}" alt="">
    <section class="contenedor-producto flex text-center">
        <div class="columna-producto">
            <h5>Camisa para hombre</h5> 
            <hr>
            <p>Color negro</p> 
            <hr>
            <b><p class="precio" >$80.000</p></b>
            <hr>
            <b><a class="btn-precio" href="#">Comprar</a></b>
        </div>
        <div class="columna-producto">
            <h5>Cocina integral</h5>
            <hr>
            <p>Color café</p>
            <hr>
            <b><p class="precio" >$1.800.000</p></b>
            <hr>
            <b><a class="btn-precio" href="#">Comprar</a></b>
        </div>
        <div class="columna-producto">
            <h5>Xbox Series X</h5>
            <hr>
            <p>1TB (SSD) - Color negro</p>
            <hr>
            <b><p class="precio" >$2.500.000</p></b>
            <hr>
            <b><a class="btn-precio" href="#">Comprar</a></b>
        </div>
        <div class="columna-producto">
            <h5>Taladro industrial</h5>
            <hr>
            <p>Color gris/naranja</p>
            <hr>
            <b><p class="precio" >$560.000</p></b>
            <hr>
            <b><a class="btn-precio" href="#">Comprar</a></b>
        </div>
    </section>
</body>
</html>